[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
streamlit = "*"
plotly = "*"
numpy = "*"
pyyaml = "*"
openpyxl = "*"
python-dateutil = "*"
matplotlib = "*"
scipy = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.11"
